<!DOCTYPE html>
<html>
<head>
    <title>Keskustelualue</title>
</head>
<body>
    <h1>{{ topic }}</h1>
    <hr>
    {% for message in messages %}
        Viesti: {{ message.message }} <br>
        Lähetetty: {{ message.created_at }} <br>
        Lähettäjä: {{ message.sender }}
        <hr>
    {% endfor %}

    {% if session.username %}
        <a href="{{ url_for('new_message', area_id=area_id) }}">Lähetä viesti</a>
        <br>
    {% else %}
        <p>Kirjaudu sisään ennen kuin voit lähettää viestin</p>
    {% endif %}
    
    <a href="/">Takaisin</a>
</body>
</html>

