<!DOCTYPE html>
<html>
<head>
    <title>Keskustelualueet</title>
</head>
<body>
    <h1>Keskustelualueet</h1>
    keskustelualueiden määrä: {{ count }}
    <hr>
    {% for area in areas %}
        Aihe: {{ area.topic }} <br>
        Luotu: {{ area.created_at }} <br>
        Luoja: {{ area.creator }} <br>
        <a href="/chatroom/{{ area.id }}">Siirry keskustelualueeseen</a>
        <hr>
    {% endfor %}

    {% if session.username %}
        <a href="/new_area">Lisää keskustelualue</a>
        <br>
        <a href="/logout">Kirjaudu ulos</a>
    {% else %}
        <p>Kirjaudu sisään ennen kuin voit lisätä uuden keskustelualueen</p>
        <a href="/login">Kirjaudu sisään</a>
    {% endif %}
</body>
</html>
