<!DOCTYPE html>
<html>
<head>
    <title>Keskustelualueet</title>
</head>
<body>
    <h1>Keskustelualueet</h1>
    keskustelualueiden määrä: {{ count }}
    <hr>
    {% for area in areas %}
        Aihe: {{ area.topic }} <br>
        🕐: {{ area.created_at }} <br>
        Luoja: {{ area.creator }} <br>
        ♥ {{ area.likes }} <br>
        👁️ {{ area.visit_count }} <br>
        <a href="/chatroom/{{ area.id }}">Siirry keskustelualueeseen</a> <br>
        {% if session.username == area.creator %}
        <form action="/delete_area/{{ area.id }}" method="post">
            <input type="submit" value="Poista keskustelualue">
        </form>
        {% endif %}
        {% if session.username %}
            {% if user_id not in area.liked_users %}
                <form action="/like_area/{{ area.id }}" method="post">
                    <input type="submit" value="♡">
                </form>
            {% else %}
                <form action="/unlike_area/{{ area.id }}" method="post">
                    <input type="submit" value="♥">
                </form>
        
            {% endif %}
        {% endif %}
        <hr>
    {% endfor %}

    {% if session.username %}
        <a href="/new_area">Lisää keskustelualue</a>
        <br>
        <a href="/logout">Kirjaudu ulos</a>
    {% else %}
        <p>Kirjaudu sisään ennen kuin voit lisätä uuden keskustelualueen</p>
        <a href="/login">Kirjaudu sisään</a>
    {% endif %}
</body>
</html>
