<!DOCTYPE html>
<html>
<head>
    <title>Kirjaudu sisään</title>
</head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <h1 class="custom-title">Kirjaudu sisään</h1>
<body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form action="{{ url_for('login') }}" method="post">
        <label for="username">Käyttäjätunnus:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Salasana:</label>
        <input type="password" id="password" name="password" required><br>
        <input type="submit" value="Kirjaudu">
    </form>
    <br>
    <a href="/register">Luo uusi käyttäjä</a>
    <br>
    <a href="/">Takaisin</a>
</body>
</html>
