<!DOCTYPE html>
<html>
<head>
    <title>Kirjaudu sisään</title>
</head>
<body>
    <h1>Kirjaudu sisään</h1>
    <form action="{{ url_for('login') }}" method="post">
        <label for="username">Käyttäjätunnus:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Salasana:</label>
        <input type="password" id="password" name="password" required><br>
        <input type="submit" value="Kirjaudu">
    </form>
    <br>
    <a href="/register">Luo uusi käyttäjä</a>
    <br>
    <a href="/">Takaisin</a>
</body>
</html>
