<!DOCTYPE html>
<html>
<head>
    <title>Uusi Käyttäjä</title>
</head>
<body>
    <h1>Luo uusi käyttäjä</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form action="{{ url_for('register') }}" method="post">
        <label for="username">Käyttäjänimi:</label>
        <input type="text" name="username" required><br>
        <label for="password">Salasana:</label>
        <input type="password" name="password" required><br>
        <input type="submit" value="Luo käyttäjä">
    </form>
    <br>
    <a href="/login">Takaisin</a>
</body>
</html>
