<!DOCTYPE html>
<html>
<head>
    <title>Uusi Käyttäjä</title>
</head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <h1 class="custom-title">Luo uusi käyttäjä</h1>
<body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form action="{{ url_for('register') }}" method="post">
        <label for="username">Käyttäjänimi:</label>
        <input type="text" name="username" required><br>
        <label for="password">Salasana:</label>
        <input type="password" name="password" required><br>
        <label for="confirm_password">Vahvista salasana:</label>
        <input type="password" name="confirm_password" required><br>
        <input type="submit" value="Luo käyttäjä">
    </form>
    <br>
    <a href="/login">Takaisin</a>
</body>
</html>
